{% extends "layout.njk" %}

{% block head %}
<title>Sobre - Rocketseat</title>

{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="https://rocketseat.gallerycdn.vsassets.io/extensions/rocketseat/rocketseatreactnative/2.2.0/1557162274650/Microsoft.VisualStudio.Services.Icons.Default"
            alt="Logo Rocketseat">
        <h1>Rocketseat</h1>
        <h2>É uma plataforma de educação em tecnologia, focada nas melhores tecnologias em programação indo direto ao ponto e do jeito certo.</h2>
        <p>Principais tecnologias</p>
        <ul>
            <li>NodeJS</li>
            <li>ReactJS</li>
            <li>React Native</li>
        </ul>
    </div>
    <div id="links-footer" class="links">
        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://www.instagram.com/rocketseat_oficial/" target="_blank">Instagram</a>
        <a href="https://facebook.com/rocketseat/" target="_blank">Facebook</a>
    </div>
{% endblock %}