{% extends "layout.njk" %}

{% block head %}
<title>Cursos {{item.title}}</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1>{{item.title}}</h1>
    </div>
    
    <section class="course">

        <div class="card" id="{{item.id}}">
            <div class="card__image-container">
                <img src="https://skylab.rocketseat.com.br/static/{{item.id_image}}.svg" alt="Logo do curso {{item.title}}">
            </div>
            <div class="card__content">
                <p>{{item.title}}</p>
            </div>
            <div class="card__info">
                <p>{{item.modules}}</p>
                <p class="card__price">{{item.price}}</p>
            </div>
            <div class="links">
                <a href="http://rocketseat.com.br/{{item.id}}" target="_blank">{{item.title}}</a>
            </div>
        </div>

    </section>
{% endblock %}