{% extends "layout.njk"%}}

{% block head %}
<title>Página não encontrada</title>
{% endblock %}

{% block content %}
 <div class="wrapper">
    <div class="notfound__message">
        <h1 id="notfound__message-title">Desculpa...</h1>
        <p id="notfound__message-description">Nós não conseguimos achar o que você estava procurando.</p>
    </div>
 </div>
{% endblock%}